html {
  background-color: #062c43;
  background-image: url('https://live.staticflickr.com/5313/14335187504_4c3298ef31_b.jpg ');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}
