:root{
  background-color: #062c43;
}

p{
  color: #9ccddc;
  font-family: 'Spectral SC', serif;
}

h1, {
  color: #9ccddc;
  font-family: 'Genos', sans-serif;
  font-size: 40px;
}

h2, {
  color: #9ccddc;
  font-family: 'Genos', sans-serif;
  font-size: 40px;
}

footer {
  color: #9aeadd;
};

a {
  color: #9aeadd;
}
